.container {
  padding: 50px;
  font-family: roboto;
}
.searchCity {
  position: relative;
  padding-left: 500px;
  font-family: roboto;
}
  position: relative;
  padding-left: 550px;
}
.whole {
  padding: 20px;
  border: 1px solid saddlebrown;
  margin: 100px;
}

.container {
  margin-bottom: 100px;
}
.city {
  padding-top: 10px;
  font-family: roboto;
}
.cities {
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: roboto;
}
.country {
  font-family: roboto;
  font-size: 15px;
  margin-top: 5px;
}
.climate {
  font-family: roboto;
  font-size: 15px;
  margin-top: 5px;
}
